{% extends 'coolBase.html.twig' %}

{% block title %}GoSport: All Products{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/nouislider@15.7.0/dist/nouislider.min.css" rel="stylesheet">
{% endblock %}
{% block importmap %}
    <script src="https://cdn.jsdelivr.net/npm/nouislider@15.7.0/dist/nouislider.min.js"></script>
{% endblock %}

    {% block sidebarBody %}
        <div class="mb-3">
            <button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#categoriesCollapse" aria-expanded="false" aria-controls="categoriesCollapse">
                Categories
            </button>

            <div class="collapse mt-2" id="categoriesCollapse">
                <div class="p-3">
                    {% if categories is defined %}
                        {% for category in categories %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="categoryCheckbox{{ category.id }}" value="{{ category.id }}" {% if categoriesAllowed is not defined or category.id in categoriesAllowed %} checked {% endif %}>
                                <label class="form-check-label" for="categoryCheckbox{{ category.id }}">{{ category.name }}</label>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>


        <div class="container my-4" style="width: 90%;">
            <label for="price-slider" class="form-label">Price Range</label>
            <br>
            <br>
            <br>
            <div id="price-slider"></div>
            <div class="mt-3">
                <span>Min: <span id="min-price"></span>DT</span> &nbsp;-&nbsp;
                <input type="hidden" id="min-price-input" name="min-price">
                <span>Max: <span id="max-price" name="max-price"></span>DT</span>
                <input type="hidden" id="max-price-input" name="max-price">
            </div>
        </div>
        {% block applyFilters %}
        <a href="/products" style="position: absolute; bottom: 10px; right: 10px;">
            <button class="btn btn-danger" id="apply-btn" type="submit">
                Apply
            </button>
        </a>
        {% endblock %}

    {% endblock %}
{% block wishlistBag %}
    {{ parent() }}
{% endblock %}
{% block body %}

    {% block productCrud %}
    {% endblock %}

    {% if products is empty %}
        <br>
        {% block empty %}
        <a href="/products" class="text-white text-center d-block">No matching results...</a>
        {% endblock %}
    {% else %}
        <div class="container pt-20">
            <div class="row">
                {% for product in products|slice((currentPage-1)*20, 20) %}
                    <div class="col-md-3">
                        <div class="card mb-4 p-3 position-relative costum-card">
                            <a href="/products/{{ product.id }}" class="text-decoration-none">
                                <img src=  "{% for image in product.images %}
                                                {% if image.isPrimary %}
                                                    {{ image.imagePath }}
                                                {% endif %}
                                            {% endfor %}"
                                class="card-img-top costum-card-img" onerror="this.onerror=null;this.src='https://i.imgur.com/EJLFNOw.jpg';">
                            </a>
                            {% if product.discountpercent != 0 %}
                                <div class="big-badge">
                                    {{ product.discountpercent }}% off
                                </div>
                            {% endif %}
                            <div class="card-body">
                                <h3 class="card-title" style="font-size: 1.2em;">{{ product.name }}</h5>
                                <h4 style="color:gray" class="p-2" style="font-size: 1.2em;">{{ product.slug }}</h6>
                            </div>
                            <div class="position-absolute bottom-0 end-0 p-3">
                                {% if product.stockQuantity == 0 %}
                                        <h2 style="display: inline-block; margin-right: 10px;color:RGB(255,90,90);font-size: 1.2em;">
                                            Out Of Stock
                                        </h2>
                                {% else %}
                                    {% if product.discountpercent == 0 %}
                                        <h2 style="font-size: 1.2em;">
                                            {{ product.price }} DT
                                        </h2>
                                    {% else %}
                                        <h2 style="display: inline-block; margin-right: 10px;color:RGB(255,102,102);font-size: 1.2em;">
                                            {{ ( (product.price * (100 - product.discountpercent) / 100) )|number_format(2, '.', '') }} DT
                                        </h2>
                                        <h2 class="text-decoration-line-through" style="display: inline-block;color:RGB(150,150,150);font-size: 1.2em;">
                                            {{ product.price }}DT
                                        </h2>
                                    {% endif %}
                                {% endif %}
                                {% block crudButtons %}
                                {%  endblock %}
                            </div>
                            <br>
                            {% block wishlistHeart %}
                            <div class="position-absolute bottom-0 start-0 p-2">
                                <button class="btn text-danger heart" type="button" id="productBtn{{ product.id }}" style="border: 0;font-size: 25px;">
                                    <i class="bi {% if app.user and product in app.user.wishlist.products %}bi-heart-fill{% else %}bi-heart{% endif %}" id="heart{{ product.id }}" style="transition: all 0.2s ease; color: var(--primary-color);" onmouseover="this.style.filter='drop-shadow(0 0 20px red)';" onmouseout="this.style.filter='none';"></i>
                                </button>
                            </div>
                            {% endblock %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if products|length > 0 %}
        <nav aria-label="Page navigation" class="mt-4">
            <ul class="pagination justify-content-center">
                {% if currentPage > 1 %}
                    <li class="page-item p-0.5">
                        <a class="pagination-knob page-link text-danger bg-dark rounded-circle d-flex align-items-center justify-content-center" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': currentPage - 1})) }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for page in 1..totalPages %}
                    <li class="page-item p-0.5">
                        <a class="pagination-knob page-link text-danger rounded-circle d-flex align-items-center justify-content-center {% if page == currentPage %} bg-danger text-white{% else %} bg-dark {% endif %}" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': page})) }}">{{ page }}</a>
                    </li>
                {% endfor %}

                {% if currentPage < totalPages %}
                    <li class="page-item p-0.5">
                        <a class="pagination-knob page-link text-danger bg-dark rounded-circle d-flex align-items-center justify-content-center" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': currentPage + 1})) }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

    <script>
        const priceSlider = document.getElementById('price-slider');

        let min = {{ minPrice }};
        let max = {{ maxPrice }};
        {% if minPriceInput is defined %}
            min = {{ minPriceInput }};
        {% endif %}
        {% if maxPriceInput is defined %}
            max = {{ maxPriceInput }};
        {% endif %}
        
        noUiSlider.create(priceSlider,{
                start: [min, max],
                connect: true,
                range: {
                'min': {{ minPrice }},
                'max':{{ maxPrice }}
                },
            step: 1,
            tooltips: true,
            format: {
            to: value => parseFloat(value).toFixed(2),
            from: value => parseFloat(value).toFixed(2)
            }
        });

        const minPrice = document.getElementById('min-price');
        const maxPrice = document.getElementById('max-price');
        const minPriceInput = document.getElementById('min-price-input');
        const maxPriceInput = document.getElementById('max-price-input');

        priceSlider.noUiSlider.on('update', (values) => {
            minPrice.textContent = values[0];
            maxPrice.textContent = values[1];
            minPriceInput.value = values[0];
            maxPriceInput.value = values[1];
        });

        {% for product in products %}
            document.getElementById("productBtn{{ product.id }}").addEventListener('click', function () {
                {% if app.user %}
                    document.getElementById("heart{{ product.id }}").classList.toggle("bi-heart");
                    document.getElementById("heart{{ product.id }}").classList.toggle("bi-heart-fill");
                {% endif %}
                fetch('/cart/add/{{ product.id }}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-Requested-With': 'XMLHttpRequest',
                    },
                    body: JSON.stringify({})
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        //alert(data.message);
                    }
                })
                .catch(error => console.error('Error:', error));
            });
        {% endfor %}

    </script>
{% endblock %}