{% extends 'base.html.twig' %}
{% block title %}show{% endblock %}
{% block titleEmoji %}{% endblock %}
{% block body %}
    <div class="container my-5">

        <div class="text-center mb-4">
            <h1 class="display-4">Product Details</h1>
        </div>

        <div class="card shadow-sm">
            <div class="card-body">
                <table class="table table-bordered mb-0">
                    <tbody>
                    <tr>
                        <th scope="row">ID</th>
                        <td>{{ product.id }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Name</th>
                        <td>{{ product.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Category</th>
                        <td>{% if product.getCategoryId() is not null %}
                            {{ product.getCategoryId().getName()}}
                            {% else %}
                                <em>This product has no category</em>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Slug</th>
                        <td>{{ product.slug }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Description</th>
                        <td>{{ product.description }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Price</th>
                        <td>{{ product.price }} €</td>
                    </tr>
                    <tr>
                        <th scope="row">Discount</th>
                        <td>{{ product.discountPercent }}%</td>
                    </tr>
                    <tr>
                        <th scope="row">Stock</th>
                        <td>{{ product.stockQuantity }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mt-4 d-flex justify-content-start gap-2">
            <a href="{{ path('app_product_index') }}" class="btn btn-secondary d-flex justify-content-center align-items-center">Back to list</a>
            <a href="{{ path('app_product_edit', {'id': product.id}) }}" class="btn btn-primary d-flex justify-content-center align-items-center">Edit</a>
            <a href="{{ path('app_product_image_index', {'product': product.id}) }}" class="btn btn-primary d-flex justify-content-center align-items-center">images</a>

            <a class="btn btn-danger btn-sm">
                {{ include('product/_delete_form.html.twig') }}
            </a>
        </div>
    </div>
{% endblock %}
